.same{
    height: 300px;
    width: 200px;
    border-style: ridge;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 200px;
    flex-wrap: wrap;
}
.img1{
    height: 125px;
    width: 125px;
    border-radius: 70%;
    margin-left: 20%;
    margin-top: 20%;
    margin-bottom: -10%;
}
.head1{
    margin-left: 25%;
    margin-bottom: -10%;
}
.head2{
    margin-left: 20%;
}
input{
    background-color: blue;
    color: white;
    margin-left: 15%;
    width: 140px;
}